<div class='app-view'>
    <section class='first-section'>
        <div class='avatar-part'>
            <img class='avatar' src='static/image/DefaultUserPicture.png' alt> 
        </div>
        <div class='info-part'>
            <h3>Elite1337</h3>
            <p>I like candy</p>
        </div>
    </section>
    <section class='misc-menu'>
        <ul class='left'>
            <li><span><img src='static/image/email.gif'></span></li>
            <li><span><img src='static/image/ppl.png'></span></li>
            <li><span><img src='static/image/kdict.png'></span></li>
            <li><span><img src='static/image/msn_phone.png'></span></li>
        </ul>
        <ul class='right'>
            <li><span><img src='static/image/brush.png'></span></li>
            <li><span><img src='static/image/settings.png'></span></li>
            <li><span>v</span></li>
        </ul>
    </section>
    <section>
        <ul class='contact-list'>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
            <li><span class='contact'><img class='contact-icon' src='static/image/msn_icon.png'><p>Dazzer 1337</p> - <label>Ak dkasif lks</label></span></li>
        </ul>
    </section>
</div>
