<section class='first-section vista'>
    <div class='avatar-part'>
        <img class='avatar' src='static/image/DefaultUserPicture.png' alt> 
    </div>
    <div class='info-part'>
        <h3>Elite1337</h3>
        <p>I like candy</p>
    </div>
</section>
<section class='misc-menu vista'>
    <ul class='left'>
        <li><span><img src='static/image/email.gif' alt></span></li>
        <li><span><img src='static/image/ppl.png' alt></span></li>
        <li><span><img src='static/image/kdict.png' alt></span></li>
        <li><span><img src='static/image/msn_phone.png' alt></span></li>
    </ul>
    <ul class='right'>
        <li><span><img src='static/image/brush.png' alt></span></li>
        <li><span><img src='static/image/settings.png' alt></span></li>
    </ul>
</section>
<section class='search-bar'>
    <div class='part search-part'><input type='text' placeholder='Find a contact...'></div>
    <div class='part buttons-part'>
        <ul>
            <li><span><img src='static/image/add.jpg' alt></span></li>
            <li><span><img src='static/image/refresh.jpg' alt></span></li>
        </ul>
    </div>
</section>
<section class='contact-list'>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
    <div class='item'>
        <img class='contact-icon' src='static/image/msn_icon.png' alt><p>Dazzer 1337</p> - <span>Ak dkasif lks</span>
    </div>
</section>
