<div class='login-view'>
    <section>
        <form class='centered-content'>
            <section class='centered-content'>
                <label for='email'>First-name:</label>
                <input type='email' id='register-firstname' placeholder='John'>
                <label for='email'>Last-name:</label>
                <input type='email' id='register-lastname' placeholder='Doe'>
                <label for='email'>E-mail address:</label>
                <input type='email' id='register-email' placeholder='johndoe@johndoe.com'>
                <label for='password'>Password:</label>
                <input type='password' id='register-password' placeholder='*******'>
            </section>
            <section class='centered-content'>
                <input type='button' id='register-button' value='Register'>
            </section>
            <section>
                <label><p id='register-response'></p></label>
            </section>
            <section>
                <label><a onclick='set_view("login-view"); return false;'>Login</a></label>
            </section>
        </form>
    </section>
</div>
