@import 'animations.scss';

$color_select: #D6F1FF;


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.view {
    background-image: url('../image/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: flex-end;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#login-view, #register-view, #app-view {
}

.login-view section {
    width: 100%;
    height: 100%;
}

.vista {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: .8;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8e1fc+0,a9d2f3+10,90bae4+25,90bcea+37,90bff0+50,6ba8e5+51,a2daf5+83,bdf3fd+100;Blue+Gloss+%231 */
        background: #b8e1fc; /* Old browsers */
        background: -moz-linear-gradient(top,  #b8e1fc 0%, #a9d2f3 10%, #90bae4 25%, #90bcea 37%, #90bff0 50%, #6ba8e5 51%, #a2daf5 83%, #bdf3fd 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #b8e1fc 0%,#a9d2f3 10%,#90bae4 25%,#90bcea 37%,#90bff0 50%,#6ba8e5 51%,#a2daf5 83%,#bdf3fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */ 
    }
}

#app-view, #chat-view {
    position: relative;

    .first-section {
        height: 100px;
        background-image: url('../image/bluemetal.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;

        .avatar-part {
            z-index: 40;
            width: 20%;
            padding: 1em;
            .avatar {
                width: 64px;
                height: 64px;

            }
        }

        .info-part {
            z-index: 40;
            h3 {
                font-size: 1em;
            }

            p {
                font-size: 0.8em;
            }
        }
    }

    .misc-menu {
        height: 32px;
        background-color: white;
        width: 100%;
        flex: 0;

        ul, li {
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;

        }

        li {
            position: relative;

            span {
                font-size: 0.6em;
                height: 16px;
                line-height: 16px;
                text-align: center;
                margin: 0 auto;
                position: relative;

                img {
                    width: 16px;
                    height: 16px;
                    padding-top: 0.8em;
                }
            }
        }
    }

    .search-bar {
        background-color: white;
        display: flex;
        flex-direction: row;
        height: 3.2em;
        align-items: center;
        -moz-box-shadow:    inset  0  8px 8px -8px #696868; 
        -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
        box-shadow:        inset  0  8px 8px -8px #696868;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: lightgray;

        .part {
            padding-top: 0.5em;
            padding-left: 0.5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;


            input[type='text'] {
                margin-bottom: 1em;
                height: 24px;
                width: 100%;
                display: block;
                background-color: white;
                outline: none;
                border-style: solid;
                border-width: 1px;
                border-color: lightgray;
                border-radius: 2px;
                padding: 2px;
                -moz-box-shadow:    inset  0  2px 2px -2px #696868, 
                inset  0 -2px 2px -2px #696868;
                -webkit-box-shadow: inset  0  2px 2px -2px #696868, 
                inset  0 -2px 2px -2px #696868;
                box-shadow:        inset  0  2px 2px -2px #696868, 
                inset  0 -2px 2px -2px #696868;
            }

             ul, li {
            display: inline-block;
            margin-left: 4px;
            margin-right: 4px;

        }

        li {
            position: relative;

            span {
                font-size: 0.6em;
                height: 16px;
                line-height: 16px;
                text-align: center;
                margin: 0 auto;
                position: relative;

                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        }

        .search-part {
            width: 70%;
        }

        .buttons-part {
            width: (100% - 70%);
            text-align: right;
        }
    }
}

#chat-view {
    position: relative;

    .first-section {
        height: 86px !important;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a0d8ef+0,ddf1f9+65,feffff+100 */
        background: rgb(160,216,239); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(160,216,239,1) 0%, rgba(221,241,249,1) 65%, rgba(254,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(160,216,239,1) 0%,rgba(221,241,249,1) 65%,rgba(254,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
        flex: 0;
    }

    .chat-text {
        width: 100%;
        height: 100%;
        background-color: white;
        flex: 1;
    }

    .chat-input-part {
        height: 100px;
        width: 100%;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: lightgray;
        background-color: white;
    }
}

.login-view {
    .first-section {
        height: 256px !important;
    }
}

.centered-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 70% !important;
    margin: auto;

    section {
        padding: 1em;
    }

    input[type='email'], input[type='password'] {
        margin-bottom: 1em;
        height: 20px;
        width: 100%;
        display: block;
        background-color: white;
        outline: none;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        border-radius: 2px;
        padding: 2px;
    }

    button {
        background: none;
        border: none;
        padding: 0;   
    }

    button span {
        display: block;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #999;
        padding: 0;
        background: #F0F0F0;
        background: -moz-linear-gradient(top,  #F0F0F0 50%, #D4D4D4 50%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#F0F0F0), color-stop(50%,#D4D4D4));
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0F0F0', endColorstr='#D4D4D4',GradientType=0 );
    }

    label {
        text-align: left;
        width: 100%;
        font-size: 0.8em;
        display: block;
    }

    button span span {
        border: 1px solid #fff;
        padding: 10px;
    }

    input[type="button"] 
    {
        cursor:pointer;  
        border: 1px solid #707070;
        background-color: #F0F0F0;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #DDD;
        -o-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #DDD;
        -webkit-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #DDD;
        -moz-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #DDD;
        padding: 3px 6px;
    }

    input[type="button"]:hover 
    {
        cursor:pointer;
        background-color: #EAF6FD;
        border: 1px solid #3C7FB1;
        box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #BEE6FD, 0 0 3px #A7D9F5;
        -o-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #BEE6FD, 0 0 3px #A7D9F5;
        -webkit-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #BEE6FD, 0 0 3px #A7D9F5;
        -moz-box-shadow: inset 0 1px 2px #fff, inset 0 -0.7em #BEE6FD, 0 0 3px #A7D9F5;
    }
    input[type="button"][disabled], input[type="button"][disabled]:hover
    {
        border: 1px solid #ADB2B5;
        text-shadow: 1px 1px #fff;
        cursor:default;
        background-color: #F4F4F4;
        box-shadow: inset 0 1px 2px #fff;
        -o-box-shadow: inset 0 1px 2px #fff;
        -webkit-box-shadow: inset 0 1px 2px #fff;
        -moz-box-shadow: inset 0 1px 2px #fff;
    }
}

.avatar {
    width: 128px;
    height: 128px;
}

.hidden {
    opacity: 0;
    display: none;
}

a {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.contact-list {
    list-style: none;
    display: block;
    background-color: white;
    min-height: 100%;

    .item {
        display: block;
        width: 100%;
        height: 2em;
        line-height: 2em;
        width: 100%;
        background-color: white;
        display: block;

        &:hover {
            background-color: $color_select;
            cursor: pointer;
        }

        .contact-icon {
            width: 16px;
            height: 16px;
            padding-left: 0.8em;
        }

        span {
            font-size: 0.8em;
            padding: 1em;
        }

        p {
            padding: 1em;
        }

        display: flex;
        flex-direction: row;
        align-items: center;

    }
}

.left {
    float: left;
}

.right {
    float: right;
}
